.wd-rounded-corners-all-around {
    border-radius: 50px;
    border-color: black;
    width: 75%;
    float: left;
    height: 30px;
    background-color: #242626;
    top: 12px;
    margin-left: 16px;
}

.wd-search {
    position: relative;
    font-size: 16px;
    color: white;
    background-image: url("images/search.png");
    background-size: 15px 15px;
    background-position: 15px 9px;
    background-repeat: no-repeat;
    padding-left: 45px;
}

.wd-gear-icon {
    position: relative;
    top: 18px;
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.wd-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
    padding: 16px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
}

.wd-selected {
    color: rgb(29, 161, 242);
    text-underline-offset: 14px;
    text-decoration-thickness: 3px;
}

.wd-not-selected {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

hr.wd-top-border {
    position: relative;
    height: 11px;
    background-color: #242626;
    border-left: none;
    border-right: none;
    border-bottom: solid rgb(110, 118, 125);
    border-top: medium solid rgb(110, 118, 125);
    margin-bottom: 16px;
    margin-top: -3px;
}

hr {
    border: thin solid rgb(110, 118, 125);
}

.wd-suggested-info {
    position: relative;
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding-left: 16px;
}

.wd-suggested-title {
    position: relative;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 16px;
    width: 582px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wd-suggested-author {
    color: white;
    font-weight: bold;
}

.wd-suggested-img {
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    padding: 16px;
}
