.wd-search {
    position: absolute;
    top: 4px;
}

input.search-text {
    padding-left: 40px;
    width: 90%;
}

.wd-caption {
    position: relative;
    bottom: 48px;
    left: 10px;
    text-align: left;
    color: white;
    font-size: 30px;
}

.wd-image {
    border-radius: 10%;
    width: 90px;
    margin-left: 15px;
}

.wd-pfp {
    border-radius: 50%;
    width: 50px;
}